.container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 200px 3fr 20px;
  column-gap: 10px;
  grid-template-areas:
		"header header header"
		"   a    main    b   "
		"   .     .      .   "
		"footer footer footer"
}
.global-header{
  background-color: rgb(226, 226, 226);
  overflow: hidden;
  grid-column : 1/4;
  grid-row : 1/2;
  grid-area: header;
  text-align: center;
  margin-bottom: 20px;
}
.photo {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 1vw;
}
.a_class{
  display: inline-block;
}
a{
  margin:50px;
  text-decoration: none;
  color : rgb(100, 100, 100);
  font-weight: bold;
}

.main { 
  grid-area: main; 
}
.sidear-a { 
  grid-area: a;
  border-right: 5px dotted rgb(190, 190, 190);
}
.sidear-b { 
  grid-area: b; 
  border-left: 5px dotted rgb(190, 190, 190);
}
.sidear{
  line-height: 0;
}
.main-sidear > input {
  width: 3vw;
  height:3vw;
  border-radius: 0.5vw;
  margin-top: 15px;
  margin-left: 50%;
}
.global-footer{
  width: 100%;
  height: 20px;
  background-color: rgb(226, 226, 226);
  grid-area: footer;
}