.container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 150px 3fr 20px;
  column-gap: 10px;
  grid-template-areas:
		"header header header"
		"   a    main    b   "
		"   .     .      .   "
		"footer footer footer"
}
.global-header{
  background-color: rgb(226, 226, 226);
  overflow: hidden;
  grid-column : 1/4;
  grid-row : 1/2;
  grid-area: header;
  margin-bottom: 20px;
}
.hello{
  text-align: center;
  font-size: 40px;
}
.main {
  grid-area: main; 
  text-align: center;
}
.homephoto{
  width: 50%;
  height: auto;
  margin-top: 20px;
  border: 20px solid rgb(180, 180, 180);
  border-radius: 20px;
  
}
.sidear-a { 
  grid-area: a;
  border-right: 5px dotted rgb(190, 190, 190);
}
.sidear-b { 
  grid-area: b;
  border-left: 5px dotted rgb(190, 190, 190);
 }
.sidear{
  line-height: 0;
}
.main-sidear > input {
  width: 3vw;
  height:3vw;
  border-radius: 0.5vw;
  margin-top: 15px;
  margin-left: 50%;
}
.global-footer{
  width: 100%;
  height: 20px;
  background-color: rgb(226, 226, 226);
  grid-area: footer;
}